body,
html {
    overflow-x: hidden !important;
    max-width: 100vw;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

/* This is to prevent HORIZONTAL slider, it is good for mobile use */