:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #6c757d;
    --tertiary-color: #28a745;
    --background-color: #333333; /* Dark Background */
    --text-color: #f8f9fa;
    --highlight-color: #e74c3c; /* Red */
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    --accent-color: #f39c12; /* Orange */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

.navbar,
.footer,
.description {
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: all 0.5s ease;
    box-shadow: var(--shadow); /* Add shadow effect */
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

.navbar .nav-link {
    color: var(--secondary-color);
}

.navbar .nav-link:hover {
    color: var(--highlight-color);
}

.glass {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(15px) !important;
}

.btn-small {
    padding: 5px 10px;
    font-size: 0.875rem;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: var(--shadow); /* Add shadow effect */
}

.btn-small:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.description {
    box-shadow: var(--shadow);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #444444; /* Slightly lighter than background */
    color: var(--text-color);
    text-align: justify; /* Justify text */
}

.pagination .page-item .page-link {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    margin: 0 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-item .page-link:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border: none;
}

.highlight {
    color: var(--highlight-color);
}

.dynamicImage {
    border-radius: 50%;
    transition: border-radius 0.5s;
    border: 0.3rem var(--tertiary-color) solid;
}

#tourist-spots {
    box-shadow: var(--text-color);
    border: 0.1rem var(--text-color) solid;
}

.dynamicImage:hover {
    border-radius: 0;
}

.modal-body img {
    max-width: 90vw;
}

#modalImage {
    border: 1rem solid white;
}

.contact-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    box-shadow: var(--shadow); /* Add shadow effect */
}

@media (max-width: 768px) {
    .description {
        text-align: left; /* Align text to the left for small screens */
    }
}

.cd {
    background: var(--highlight-color);
    color: var(--text-color);
    margin-top: 1rem;
    margin-right: 1rem;
    width: 100%;
}

.cd:hover {
    background: var(--accent-color);
    color: var(--background-color);
}

h3 {
    color: var(--tertiary-color);
}
